:root {
    --primary-color: #005f73;
    /* Dark Teal */
    --secondary-color: #0a9396;
    /* Teal */
    --accent1-color: #001219;
    /* Very Dark Blue/Black */
    --accent2-color: #ee9b00;
    /* Golden Orange */

    --heading-font: "Times New Roman", " Georgia", " serif";
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 120px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(225, 225, 225, .8);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px;
    margin-left: 10px;
}