:root {
    --border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

main {
    max-width: 640px;
}

h1 {
    color: black;
    padding: .5rem;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 150px;
}

footer {
    margin-top: 1em;
    border-top: var(--border);
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 2rem;
    background-color: #eee;
    color: #000;

}

.indent {
    padding-left: 2rem;
}